* {font-family: 'Yanone Kaffeesatz', sans-serif;}

body {
	background: linear-gradient(90deg, rgba(99,99,99,1) 0%, rgba(153,153,153,1) 50%, rgba(99,99,99,1) 100%);

	}

/** ----------- HEADER ----------------**/

header {
	position: fixed;
	display: flex; 
	flex-wrap: wrap;
	background-color: black;
	border: 4px solid #c01717;
	width: 100%;
	height: 95px;
	opacity: 0.5;
	transition: 0.4s;
	
}

header:hover {
	position: fixed;
	display: flex; 
	flex-wrap: wrap;
	background-color: black;
	border: 4px solid #c01717;
	width: 100%;
	opacity: 1;

}

b {
	color: #c01717;
	padding-left: 40px;
	padding-top: 1em;

	text-align: center;
	font-size: 30px;
}

a {
	text-decoration: none;
	color: white;}

nav {
	background-color: black;
	margin: auto;
	}

i { display: inline-block;
	color: #c01717;
	margin: 10px;

}

.menu__li {
	margin: 10px;
	font-size: 23px;
	display: inline-block;
	}

.menu__ul {
		margin-top: -20px;
	}


.menu__li:hover > a {
	color: #c01717;
}

.menu-responsive {
	display: none;

}

.header__Search {
	padding: 10px;
	padding-right: 40px;
}

.Search__text {
 	margin: 20px 5px ;
 	height: 35px;
 	background-color: #241c1c;
	color: white ;
	justify-content: center;
	text-align: center;
	border: none;
	border-bottom: 2px solid #c01717;

}

.Search__button {
	width: 70px;
	height: 35px;
	margin: 25px 5px;
	background-color: #c01717;
	border: none;
}

.logo_header {
	margin-left: 30px;
	height: 80px;
	padding: 5px;

}


/**----------------- FOOTER ---------------------*/

.footer_redes {
	display: flex;
	border: 0px solid red;
	width: 31vh;
	font-size: 1.5vh;
	margin-left: 135vh;
	
}

.footer_redes img{
	
	height: 5vh;
	align-items: center;
}

.footer_redes img:hover {
	height: 5.5vh;
}

.footer_redes h2{
	padding-top: 13px;
	padding-right: 3px;
	color:rgb(8, 8, 8);
	text-align: center;
}

.footer_redes h2:hover {
	color: #c01717;
}

.footer_redes a{
	padding: 10px 5px;
}

.foco{
	padding-left: 12px;
}

.footer{
	margin-top: 10vh;
	border-top: 1px solid #c01717;
	border-bottom: 1px solid #c01717;
	display: flex;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	background-color: #56565a56;
	transition: 1s;
}

.footer:hover{
	background-color: rgba(87, 87, 91, 0.87);
	transition: 1s;
}


.copyright {
	font-size: 18px;
	text-align: center;
	padding-bottom: 3vh;
	padding-top: 3vh;
}

.footer_cont { 
	margin-left: 10vh;
	
}

.footer_cont h4{
	justify-content: center;
	font-size: 20px;
	text-align: center;
	color: hsl(0, 77%, 38%);
	text-shadow: 0px 1px 1px black;
	margin-top: 1vh;
}

.footer_cont il{
	font-size: 17px;
	display: inline;
}


.footer_cont il:hover{
	color: #e7dcdc;
}


@media only screen and ( max-width: 990px) {
	.menu__li {
		display: none;
	}
	.logo_header {
		display: none;
	}
	.Search__text {
		display: none;
	}
	.Search__button {
		display: none;
	}
	
	.menu-responsive {
		display: flex;
	}
	
	header {
		height: 100px;
	}
}


/** --------------- INDEX -------------**/

.logo {
	display: flex;
	position: absolute;
	margin-left: calc(0% - 50vh);
	padding-top: 10vh;

}

.fondo {
	display: flex;
}

.fondo img{
	margin-top: -2vh;
	width: 100%;
	z-index: -1;
}

.index_content {
	display: flex;
	gap: 50px;
	flex-wrap: wrap;
	overflow: hidden;
	padding-top: 10vh;
	padding-bottom: 10vh;
	justify-content: center;
	border-top: 2px solid #c01717;
	
	
}


.index_content__taller{
	
	border: 2px solid black;
	border-bottom-left-radius: 5vh;
	border-top-right-radius: 5vh;
	width: 90vh;
	height: 80vh;
	box-shadow: 2px 2px 15px black;
	background-color: #999898e8


}  

.index_content__taller img{
	background-size:cover;
	width: 85vh;
	height: 60vh;
	margin: 2vh 0px 0px 2.3vh;
	border: 2px solid black;
	border-radius: 7px;
	
	
}

.index_content__taller h3{
	margin-top: 2vh;
	font-size: 5vh;
	color: #c01717;
	text-align: center;
	text-shadow: 2px 2px 5px #241c1c;
}

.index_content__taller p{
	font-size: 2.4vh;
	color: black;
	text-align: center;
}


.Marcas {
	display: flex;
	margin-left: 33%;
	margin-top: 5vh;
	

}

.Marcas img {
	width: 100px;
	height: 80px;
	margin: 10px;
}



/** --------------- CONTACTO ----------------- **/


.conten_form {
	display: flex;
	margin-top: 15vh;
	margin-left: 15%;
	margin-bottom: 5%;
	
}

.conten_form h2 {
	color: hsl(0, 77%, 38%);
	text-shadow: 1px 1px 2px black;
	margin-top: 1vh;
}

.form_chico {
	border: none;
	width: 70vh;
	height: 4vh;
	background-color: transparent;
	border-bottom: 2px solid #c01717;
	
	
}

.form_grande {
	border: none;
	resize: none;
	width: 70vh;
	height: 20vh;
	background-color: transparent;
	border-bottom: 2px solid #c01717;
	font-size: 18px;
}

.form_chico::placeholder {
	color: #e7dcdc
}

.form_grande::placeholder {
	padding-top: 5vh;
	color: #c01717;
	text-align: center;
	font-size: 40px;
}


.form_grande:focus {
	background: linear-gradient(to bottom, transparent, #414141);
	outline: none;
	color: #ffffff;
}

.form_chico:focus {
	background: linear-gradient(to bottom, transparent, #414141);
	outline: none;
	color: #ffffff;
}

.form_btn {
	display: flex;
	height: 4vh;
	width: 70vh;
	margin-top: 2vh;
	background-color: #c01717;
	border: none;
	padding-left: 50%;
	padding-top: 1vh;
	color: #e7dcdc;
}

.form_btn:hover {
	border: 2px solid black;
	font-style: initial;
}

.info_local {
	margin-left: 25vh;
}

.info_local h2 {
	margin-bottom: 1vh;
}

.maps {
	border-bottom-right-radius: 5%;
}


/** --------------- FIN CONTACTO ----------------- **/






/** -------------------------------- TURNOS --------------------------------*/



.turnos {
	padding: 30px;
	border: 2px solid black;
	width: 60vh;
	height: 60vh;
	margin-top: 18vh;
	margin-left: calc(50% - 30vh);
	border-bottom-right-radius: 3vh;
	background-color: rgba(116, 115, 115, 0.932);
	box-shadow: 3px 3px 10px black;;
	
}	

.turnos_form_time {
	display:inline-flex
	
}


.turnos h2{
	text-shadow: 2px 2px 2px hsl(0, 4%, 5%);
	font-size: 50px;
	text-align: center;
	color: #c01717;

	
}

.turnos p{
	text-align: center;
	font-size: 20px;
	padding-bottom: 10px;
}

.turnos input[type="date"]{
	box-sizing: border-box;
	border: 2px solid #c01717;
	height: 4vh;
	width: 25vh;
	margin-bottom: 1vh;
	overflow:hidden;
	display: flex;
	outline: none;

}

.turnos input[type="time"]{
	border: 2px solid #c01717;
	height: 4vh;
	width: 25.5vh;
	margin-bottom: 1vh;
	overflow:hidden;
	margin-left: 25px;
	outline: none;
	

}

::-webkit-calendar-picker-indicator{
	background-color: #c01717;
	border-radius: 3px;
	padding: 20px;
	overflow: hidden;;
}

.turnos input[type="text"]{
	box-sizing: border-box;
	border: 2px solid #c01717;
	height: 4vh;
	width: 100%;
	margin-bottom: 1vh;
	overflow:hidden;
	outline: none;
}

.turnos input[type="email"]{
	box-sizing: border-box;
	border: 2px solid #c01717;
	height: 4vh;
	width: 100%;
	margin-bottom: 1vh;
	overflow:hidden;
	outline: none;
}


.turnos input[type="text"]{
	box-sizing: border-box;
	border: 2px solid #c01717;
	height: 4vh;
	width: 100%;
	margin-bottom: 1vh;
	overflow:hidden;
	outline: none;
}

.turnos input[type="tel"]{
	box-sizing: border-box;
	border: 2px solid #c01717;
	height: 4vh;
	width: 100%;
	margin-bottom: 1vh;
	overflow:hidden;
	outline: none;
}

.turnos input[type="textarea"]{
	box-sizing: border-box;
	border: 2px solid #c01717;
	height: 18vh;
	width: 100%;
	margin-bottom: 1vh;
	overflow:hidden;
	outline: none;
	font-size: 20px;

}

.turnos input[type="textarea"]::placeholder{
	text-align: center;
}

.turnos_form_time input {
	text-align: center;

}

.turnos input::placeholder{
	text-align: center;
}

.turnos input[type="submit"]{
	box-sizing: border-box;
	height: 4vh;
	width: 100%;
	margin-bottom: 1vh;
	overflow:hidden;
	background-color: #c01717;
	color: white;
}

.turnos_fondo {
	background-image: url(Motos/fondo_turnos.jpg);
	background-size: cover;

	
}



/**---------------------------- PAGINA GARAGE ---------------------------- **/

.garage_intro {
	display: flex;
	width: 100%;
	height: 60vh;
	background-image: url("garage_intro.jpg");
	background-size: cover;
	border-bottom: 3px solid #c01717;
}

.garage_intro h2 {
	color: black;
	text-shadow: 2px 2px 2px hsl(0, 77%, 38%);
	width: 100vh;
	font-size: 100px;
	padding-top: 150px;
	padding-left: 150px; 
	margin: auto;
	
	
}

.garage_intro img {
	margin: auto;
	margin-left: 20px;

}

.garage_cont {
	width: 90%;
	height: 90vh;
	border: 1px solid black;
	right: 0;
	left: 0;
	margin: auto;
	margin-top: 7vh;
	box-shadow: 3px 3px 20px black;
	border-radius: 5px;	
	
	
}

.garage_cont_img {
	display: flex;
	justify-content: center;
	
	
}

.garage_cont_img img{
	margin: 20px;
	width: calc(31% - 1px);
	height: 70vh;		
	border-radius: 3%;
	box-shadow: 3px 3px 20px black;
	transition: 0.6s;
	
}	

.garage_cont_img img:hover{
	margin: 5px;
	width: calc(60% - 1px);
	height: 80vh;		
	border-radius: 2%;
	box-shadow: 50px 50px 400px black;
	transition: 1.3s;
}


.garage_cont h2{
	color: #c01717;
	font-size: 80px;
	text-align: center;
	padding-top: 4vh;
	text-shadow: 2px 2px 2px hsl(0, 4%, 5%);

}


